Package: cstbox-ext-onewire
Version: 1.0.0
Section: base
Priority: optional
Architecture: all
Depends: cstbox-core, python-ow
Maintainer: Eric Pascual <eric.pascual@cstb.fr>
Description: CSTBox 1-Wire devices support
    This package adds to an existing CSTBox framework the support
    for 1-Wire interfaced devices. 
    It includes the models of currently support products.
